.fileCard{
    height: 190px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid rgb(219,219,219);
    margin: 5px;
}

.fileCard--top{
    height: 70%;
    border-bottom: 1px solid rgb(219,219,219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileCard--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.fileCard--bottom>p {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
}