.fileView{
    width: 100%;
}

.fileView__row{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fileView__titles{
    display: flex;
    margin-bottom: 5px;
    color: rgb(85,79,79);
}

.fileView__titles>div>*{
    margin: 5px;
}

.fileView__titles--left{
    flex: 1;
}

.fileView__titles--right{
    display: flex;
    margin-right: 25px;
}
