.fileItem{
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    width: 100%;
}

.fileItem__link > a{
    height: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(85, 79, 79);
}


.fileItem__link>a>div{
    display: flex;
    align-items: center;
}

.fileItem__link>a>div>* {
    margin:10px;
}

.fileItem--left{
    flex:1;
}

.fileItem__link {
    flex:1;
}

.fileItem__delete {
    display: flex;
    cursor: pointer;
    margin-right: 3px;
}